bin/
target/
**/build/
logs/
repository/
**/test-reports/
*.lock
*.komodoproject
.DS_Store
workspace/
.history
RUNNING_PID
.classpath
.settings/
.target/
.cache

*.class
*.war
*.ear

gradlew.bat
ksamsok-config/solrconfig.xml~
